<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScrumTouchkit.Utilities.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScrumTouchkit.Utilities.Settings>
            <setting name="MIN_DECIBEL" serializeAs="String">
                <value>-30</value>
            </setting>
            <setting name="CHANNELS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SAMPLE_RATE" serializeAs="String">
                <value>16000</value>
            </setting>
            <setting name="CLIENT_NAME" serializeAs="String">
                <value>SCRUM</value>
            </setting>
            <setting name="UDP_PORT" serializeAs="String">
                <value>3001</value>
            </setting>
            <setting name="STD_TCP_PORT" serializeAs="String">
                <value>4371</value>
            </setting>
            <setting name="RECORD_DEVICE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLAYBACK_DEVICE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TUIO_PORT" serializeAs="String">
                <value>3333</value>
            </setting>
            <setting name="TOUCH_FEEDBACK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PRODUCT_BACKLOG_EXT" serializeAs="String">
                <value>.pbf</value>
            </setting>
            <setting name="SPRINT_BACKLOG_EXT" serializeAs="String">
                <value>.sbf</value>
            </setting>
            <setting name="COMPRESS" serializeAs="String">
                <value>False</value>
            </setting>
        </ScrumTouchkit.Utilities.Settings>
    </userSettings>
</configuration>